<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>

<div class="menu-bar">
  <h1 class="logo">SMART<span> HR</span></h1>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" routerLink="/demandeP">Demande Pret</a></li>
        </ul>
        <ul>
           <li><a class="nav-link scrollto"  href="#myModal" class="trigger-btn" data-toggle="modal" >Suivi Pret</a></li>
          </ul>
          <ul>
           <li><a class="nav-link scrollto" routerLink="/menu_emp">Menu</a></li>
        </ul>
      </nav>
      </div>



      
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
 <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">


<!-- Modal HTML -->
<div id="myModal" class="modal fade">
  <div align="right">
    <button id="e" (click)="oo()"><i style="font-size: 30px;" class="bi bi-box-arrow-in-left"></i></button>
  </div>
	<div align="center">   
      <br><br><br>
      <table id="customers">
        <tr>
          <th>Votr Matricule </th>
          <th>Date du remboursement</th>
          <th>Etat Du remboursement</th>
        </tr>
        <tbody *ngIf="maListe">
          <tr *ngFor="let d of maListe">
            <td>{{d.clecompose.id}}</td>
            <td>{{d.clecompose.date}}</td>
            <td *ngIf="d.etat=='0'"> Tranche non payee </td>
            <td *ngIf="d.etat=='1'"> Tranche Payée </td>
          </tr>
        </tbody>
      </table>
     
</div>
  </div>
