
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>

    <div class="menu-bar">
      <h1 class="logo">SMART<span> HR</span></h1>
      <ul>
      <li><a class="nav-link scrollto active" routerLink="/menu_rh2">Administrer Employés</a></li>
        <li class="dropdown"><a routerLink="/consulter_transfert"><span>Transfert</span></a>
        <li class="dropdown"><a routerLink="/consulter_avert"><span>Avertissement</span></a>
          <li class="dropdown"><a routerLink="/consulter-assiduite"><span>Assiduité</span></a>
            <li><a class="nav-link scrollto" routerLink="/menu_rh"><i class="bi bi-box-arrow-in-left"></i>Menu</a></li>
        </ul>
    </div>


