




<div class="menu-bar">
  <h1 class="logo">SMART<span> RH</span></h1>
  
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" routerLink="/demande_emp_conge" >Demande De Conge</a></li>
        </ul>
        <ul>
          <li>
         <a class="nav-link scrollto"  href="#myModal" class="trigger-btn" data-toggle="modal">Suivie demande</a></li>
       </ul>
        <ul>
           <li><a class="nav-link scrollto" routerLink="/menu_emp">Menu</a></li>
        </ul>
      </nav>
 </div>

 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
 <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">


<!-- Modal HTML -->
<div id="myModal" class="modal fade">
  <div align="right">
    <button id="e" (click)="oo()"><i style="font-size: 30px;" class="bi bi-box-arrow-in-left"></i></button>
  </div>
	<div align="center">
      <br><br><br>
<table id="customers">
  <tr>
    <th>Demande De Congé </th>
    <th>De</th>
    <th>À</th>
    <th>Résultat</th>
  </tr>
  <tbody >
  <tr >
    <td>Votre Demande  : </td>
    <td>{{d}}</td>
    <td>{{f}}</td>
    <td *ngIf="a.role == 'f' "> Accepter</td>
    <td *ngIf="a.role == 'd' "> En Cours </td>
    <td *ngIf="a.role == 'r' "> Refuser </td>

 
  </tr>

 
</tbody>
</table>
</div>
</div>
