
<app-nav-f></app-nav-f>
<br><br>
   
<h1 align="center">Liste des formations</h1>
<br><br>
  
<div class="d-flex">
    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background: rgba(40,57,101,.9);">
        Ajouter Formation
    </button>
</div>  
  
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" style="background: rgba(40,57,101,.9);">
          <h5 class="modal-title" id="exampleModalLabel">ADD COMPANY DATA</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form >
             
                  
              <div class="form-group mb-2">
                <label for="exampleInputEmail1">Nom Formation</label>
                <input type="text" class="form-control"   placeholder="Entrer Nom"
                [(ngModel)]="formation.nom_formation" name="nom_depar">
              </div>
                  
              <div class="form-group mb-2">
                <label for="exampleInputEmail1">Sujet Formation</label>
                <input type="text" class="form-control"   placeholder="Entrer Nom"
                [(ngModel)]="formation.sujet_formation" name="nom_dtement">
              </div>

              <div class="form-group mb-2">
                <label for="exampleInputEmail1">Date Formation</label>
                <input  type="date" class="form-control"   placeholder="Entrer Nom"
                [(ngModel)]="formation.date_formation" name="partement">
              </div>
              </form>
        </div>  
        <div  class="modal-footer" style="background: rgba(40,57,101,.9);" >
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
          <button class="btn btn-secondary" (click)="saveFormation(formation)"  >ADD</button>
        </div>
      </div>
    </div>
  </div>


  <div class="container-fuild mt-3">
    
    <table class="table table-bordered" style="border-color: black;">
        <thead>
          <tr>
            <th scope="col">Numero Formation</th>
            <th scope="col">Domaine du Formation</th>
            <th scope="col">Sujet Du Formation</th>
            <th scope="col">Date</th>
          </tr>
        </thead>
        <tbody *ngIf="maListeA">
          <tr *ngFor="let f1 of maListeA">
        
            <td *ngIf="f1.role =='f' "> {{f1.mat_formation}} </td>
            <td *ngIf="f1.role =='f' "> {{f1.nom_formation}} </td>
            <td *ngIf="f1.role =='f' "> {{f1.sujet_formation}} </td>
            <td *ngIf="f1.role =='f' "> {{f1.date_formation}} </td>
            <td *ngIf="f1.role =='f' ">
                <button type="button" class="btn btn-warning" href="#exampleModal1" data-bs-toggle="modal" (click)="update(f1.mat_formation)">Modifier</button>&nbsp;
                <button type="button" class="btn btn-danger " href="#myModal" data-toggle="modal"  (click)="deleteFormation(f1.mat_formation)" ><i class="b bn-trash-fill"></i>supprimer</button>
                
            </td>
          </tr>
        </tbody>
      </table>

  </div>


  
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Modal HTML -->
  <div id="myModal" class="modal fade">
    <div class="modal-dialog modal-confirm">
      <div class="modal-content">
        <div class="modal-header flex-column">
          <div class="icon-box">
            <i class="material-icons">&#xE5CD;</i>
          </div>						
          <h4 class="modal-title w-100">Are you sure?</h4>	
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <p>Do you really want to delete these records? This process cannot be undone.</p>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger" onclick="location.reload()">Delete</button>
        </div>
      </div>
    </div>
  </div>     

  
  <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" style="background: rgba(40,57,101,.9);">
          <h5 class="modal-title" id="exampleModalLabel">ADD COMPANY DATA</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form >
            <div class="form-group mb-2">
              <label for="exampleInputEmail1">Numero Formation</label>
              <input type="text" class="form-control"   placeholder="Entrer Nom"
              [(ngModel)]="f1.mat_formation" name="nom">
            </div>
                
            <div class="form-group mb-2">
              <label for="exampleInputEmail1">Nom Formation</label>
              <input type="text" class="form-control"   placeholder="Entrer Nom"
              [(ngModel)]="f1.nom_formation" name="nom_depar">
            </div>
                
            <div class="form-group mb-2">
              <label for="exampleInputEmail1">Sujet Formation</label>
              <input type="text" class="form-control"   placeholder="Entrer Nom"
              [(ngModel)]="f1.sujet_formation" name="nom_dtement">
            </div>

            

            <div class="form-group mb-2">
              <label for="exampleInputEmail1">Date Formation</label>
              <input type="text" class="form-control"   placeholder="Entrer Nom"
              [(ngModel)]="f1.date_formation" name="partement">
            </div>
            </form>
              
              
          
        </div>  
        <div  class="modal-footer" style="background: rgba(40,57,101,.9);" >
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
          <button class="btn btn-secondary" (click)="saveFormation(f1)" onclick="location.reload()" >ADD</button>
        </div>
      </div>
    </div>
  </div>