<!DOCTYPE html>
<!-- divinectorweb.com -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Testimonial carousel using materialize css</title>

  
</head>
<body>
    <div class="profile">
       
		<div class="carousel">
            <div class="x">
            <a  routerLink="/pret_paie">
                <div class="card">
                    <div class="box1"></div>
                    <div class="img-area"><img src="assets/image/a3.jpg" alt=""></div>
                    <div class="main-text">
                        <h2>Gestion Des Prets</h2>
                        <p> ipsum dolor sit amet, consectetur adipisicing elit. Aut cupiditate recusandae quam amet enim voluptates alias accusantium sapiente! Adipisci vero fugiat aliquid explicabo quas eius!</p>
                    </div>
                </div>
            </a>
		</div>
		
    </div>
    </div> 

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
 
</body>
</html>
