
h1{
    text-align: center;
  }
  
  #customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  }
  
  #customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  #customers tr:hover {background-color: #ddd;}
  
  #customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgba(40,57,101,.9);
  color: white;
  }

  
h5{
  color: aliceblue;
}
.close{
  font-weight: 700;
  font-size: 23px;
  background-color: border-box;
  width: 50px;
  border: none;
  background: none;
  color: white;
}


.modal-footer{
  background: rgba(40,57,101,.9);
}

.modal-header{
  background: rgba(40,57,101,.9);
}
