
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>

<div class="menu-bar">
  <h1 class="logo">SMART<span> HR</span></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
  
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" routerLink="/crud_formation">Gestion Des Formations</a></li>
           <li><a class="nav-link scrollto" routerLink="/demande_formation">Gestion Des Demandes</a></li>
           <li><a class="nav-link scrollto" routerLink="/menu_rh">Menu</a></li>
        </ul>
      </nav><!-- .navbar -->
      </div>


