<app-nav></app-nav>

<div class="container">             
    <div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body text-center">
                <h1 class="card-title m-b-0">Table D'Avertissement</h1>
            </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>    
                                <th scope="col">Nom</th>
                                <th scope="col">Prenom</th>
                                <th scope="col">Ncin</th>
                                <th scope="col">Nouvelle Succrsale</th>
                            </tr>
                        </thead>
                        <tbody class="customtable">
                            <tr>
                                <td><div class="col-auto">
                                    <input type="text" id="inputPassword6" class="form-control" placeholder="Nom" aria-describedby="passwordHelpInline" size="2">
                                  </div></td>
                                <td><div class="col-auto">
                                    <input type="text" id="inputPassword6" class="form-control" placeholder="Prenom" aria-describedby="passwordHelpInline"size="2">
                                  </div></td>
                                <td><div class="col-auto">
                                    <input type="text" id="inputPassword6" class="form-control" placeholder="Ncin" aria-describedby="passwordHelpInline" size="2">
                                  </div></td>
                                <td><div class="input-group mb-3">
                                     <button class="btn btn-warning" type="button" id="button-addon2"><i class="bi bi-envelope-exclamation-fill"></i>Avertir</button>
                                  </div></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </div>
    </div>
</div>
</div> 