
<header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center justify-content-between">
  
      <h1 class="logo"><a href="index.html">SMART HR</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
  
      <nav id="navbar" class="navbar">
        <ul>
  
          <li><a class="nav-link scrollto active" routerLink="/pret_paie">Gestion Des Prets</a></li>
           <li><a class="nav-link scrollto" routerLink="/demande_prets">Gestion Des Demandes</a></li>
           <li><a class="nav-link scrollto" routerLink="/menu_paie">Menu</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      </div>
    </header>

