<app-nav-paie></app-nav-paie>
<br><br><br>

  
  <div class="container-fuild mt-3">
    
    <table class="table table-bordered" style="border-color: black;">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Departement</th>
            <th scope="col">Number</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
        
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>@mdo</td>
            <td>
                <button type="button" class="btn btn-warning">Edit</button>&nbsp;
                <button type="button" class="btn btn-danger "><i class="b bn-trash-fill"></i>Delete</button>
                
            </td>
          </tr>
        </tbody>
      </table>

  </div>